* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 30px;
  height: 30px;
  margin-left: 290px;
}
.tolelom {
  font-family: Brush Script MT;
  font-size: 32px;
  margin-left: 12px;
  font-weight: bold;
}

.nav {
  height: 75px;
  border-bottom: 1.5px solid #e7e7e6;
  display: flex;
  align-items: center;
}
.nav-items-left {
  display: flex;
  margin-left: 12px;
}
.nav-items-right {
  display: flex;
  margin-left: auto;
  margin-right: 290px;
}
.nav-item {
  margin-left: 30px;
  font-weight: bold;
  font-size: 15px;
}
.search {
  width: 18px;
  height: 15px;
}
@font-face {
  font-family: "SDGothic";
  src: url(./fonts/AppleSDGothicNeoR.ttf);
}

.sidebar {
  border-right: 1.5px solid #e7e7e6;
  position: fixed;
  top: 75px;
  bottom: 0px;
  left: 0px;
  width: 15%;
}
.side-title {
  padding-top: 12px;
  padding-left: 5%;
  font-size: 20px;
  font-family: "SDGothic";
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #e7e7e6;
}
.sidebar ul > li > a {
  display: block;
  font-size: 20px;
  font-family: "SDGothic";
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15%;
}
.menu {
  padding-top: 15px;
}
.menu li {
  padding-left: 10%;
}

.main {
  max-width: 70%;
  padding: 30px 0px 0px 50px;
  margin: 0 auto;
  font-family: "SDGothic";
}
h1 {
  font-size: 30px;
  margin: 30px 0px 10px;
}
hr {
  margin-bottom: 20px;
}
p,
pre {
  font-size: 20px;
  font-family: "SDGothic";
  line-height: 1.5em;
  letter-spacing: 0.02ch;
}
.code {
  padding: 1em;
  background: #f3f3f3;
  color: #444;
  line-height: 1.67;
  border-radius: 10px;
}
